# 2. Combining Datasets: Merge and Join

In [1]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## One to one joins

In [2]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display('df1', 'df2')

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df2
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

Sử dụng `merge` để merge 2 bảng với nhau. `merge` sẽ tự nhận ra 2 bảng có cùng 1 cột là `employee`.<br>
Các giá trị trong `employee` được dùng làm key để join 2 bảng, thứ tự của các giá trị trong cột này ở 2 bảng không cần khớp với nhau.

In [3]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

## Many-to-one joins

Merge many to one là cột key của MỘT trong 2 bảng sẽ có giá trị duplicate, khi đó tất cả các giá trị duplicate đó sẽ đồng thời được merge với giá trị của cột kia

In [4]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
display('df3', 'df4', 'pd.merge(df3, df4)')

df3
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

df4
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

pd.merge(df3, df4)
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

## Many to many joins

Many to many joins khi cột key của cả 2 bảng đều có giá trị duplicate, khi này các dòng sẽ được sinh ra thêm tự động để đảm bảo mọi giá trị của cả 2 bảng đều được sử dụng để tạo ra các dòng không trùng lặp

In [5]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display('df1', 'df5', "pd.merge(df1, df5)")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df5
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

pd.merge(df1, df5)
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

## Join với các điều kiện thủ công

Tự chọn cột nào là cột key để join 2 bảng với param `on`. Có thể truyền vào `on` tên 1 cột hoặc 1 list nhiều cột

In [6]:
display('df1', 'df2', "pd.merge(df1, df2, on='employee')")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df2
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

pd.merge(df1, df2, on='employee')
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

Trong trường hợp cột cần chọn làm key khác tên ở 2 bảng thì có thể sử dụng `left_on` và `right_on` để chọn cột làm key cho từng bảng

In [7]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
display('df1', 'df3', 'pd.merge(df1, df3, left_on="employee", right_on="name")')

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df3
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

pd.merge(df1, df3, left_on="employee", right_on="name")
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

Sau khi `merge` thì cả 2 cột key là khác tên, do đó đều được giữ lại. Chúng ta có thể xóa đi bằng `drop`

In [8]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

Ngoài ra có thể `merge` bằng index của từng bảng.

In [9]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
display('df1a', 'df2a')

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [10]:
display('df1a', 'df2a',
        "pd.merge(df1a, df2a, left_index=True, right_index=True)")

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

pd.merge(df1a, df2a, left_index=True, right_index=True)
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

Để đơn giản hơn, có thể sử dụng `join` của `pandas` để merge 2 bảng lại với key là index của từng bảng

In [11]:
display('df1a', 'df2a', 'df1a.join(df2a)')

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

df1a.join(df2a)
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

Thậm chí có thể kết hợp index và column name để làm key cho từng bảng khi merge

In [12]:
display('df1a', 'df3', "pd.merge(df1a, df3, left_index=True, right_on='name')")

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df3
   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

pd.merge(df1a, df3, left_index=True, right_on='name')
         group  name  salary
0   Accounting   Bob   70000
1  Engineering  Jake   80000
2  Engineering  Lisa  120000
3           HR   Sue   90000

## Join bảng với các điều kiện giá trị không tồn tại

Khi cột key của 2 bảng không hoàn toàn khớp nhau. Mặc định join chỉ merge những key chung của cả 2 bảng (intersection)

In [13]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])
display('df6', 'df7', 'pd.merge(df6, df7)')

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7)
   name   food drink
0  Mary  bread  wine

Intersection còn được gọi là `inner join`

In [14]:
pd.merge(df6, df7, how='inner')

   name   food drink
0  Mary  bread  wine

Các keyword có thể được truyền vào `how`: `inner`, `outer`, `left`, `right`.<br>
`outer` giống như `union` trong toán học, hay còn được gọi là hợp của 2 set.<br>
Giá trị trong 2 cột key đều xuất hiện trong bảng sau khi merge, những giá trị bị thiếu sẽ được điền tự động bằng null

In [15]:
display('df6', 'df7', "pd.merge(df6, df7, how='outer')")

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7, how='outer')
     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

`left` và `right` tương ứng sẽ merge dựa vào key của cột bên trái hoặc phải, những giá trị khác cột key tương ứng sẽ bị xóa

In [16]:
display('df6', 'df7', "pd.merge(df6, df7, how='left')")

df6
    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

df7
     name drink
0    Mary  wine
1  Joseph  beer

pd.merge(df6, df7, how='left')
    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

Trong 2 bảng có nhiều hơn 1 cột trùng tên nhau<br>
Mặc định `merge` sẽ tạo ra các suffix default là `_x` và `_y` để khiến các cột trong bảng sau khi join được unique

In [17]:
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
display('df8', 'df9', 'pd.merge(df8, df9, on="name")')

df8
   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4

df9
   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2

pd.merge(df8, df9, on="name")
   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

Chúng ta có thể customize suffix bằng keyword `suffixes`

In [18]:
display('df8', 'df9', 'pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])')

df8
   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4

df9
   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2

pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])
   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

## Một số ví dụ kết hợp những functions đã học

Data về US

In [19]:
pop = pd.read_csv('../data/state-population.csv')
areas = pd.read_csv('../data/state-areas.csv')
abbrevs = pd.read_csv('../data/state-abbrevs.csv')
display('pop.head()', 'areas.head()', 'abbrevs.head()')

pop.head()
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

areas.head()
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

abbrevs.head()
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

### Đề bài: sắp sếp US state theo mật độ dân số của năm 2010

#### Step 1: Cần join các bảng chứa thông tin lại với nhau -> Bảng pop và abbrevs để có thông tin state theo năm

In [20]:
merged = pd.merge(pop, abbrevs, how='outer',
                  left_on='state/region', right_on='abbreviation')
merged = merged.drop('abbreviation', axis=1) # drop duplicate info
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

#### Step 2: Kiểm tra xem có cột nào chưa được match với nhau

In [21]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

Kiểm tra những dòng có population null

In [22]:
merged[merged['population'].isnull()].head()

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN

In [23]:
x = merged[merged['population'].isnull()]
x.loc[x['year'] > 2000].shape[0]

0

Những dòng không có thông tin population thường là những dòng có năm trước 2000, có thể lúc đó chưa có data, target của chúng ta là ở năm 2010. Nên những trường hợp này cũng không cần xử lý gì thêm<br>
Cột `state` cũng có giá trị null, đồng nghĩa với giá trị của một số state ở bảng `abbrevs` bị trống

In [24]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

array(['PR', 'USA'], dtype=object)

#### Step 3: Xử lý các thông tin không được match
Chỉ có 2 giá trị thuộc `state/region` có những dòng bị trống cột `state`. Chúng ta có thể manually set giá trị cho chúng:

In [25]:
merged.loc[merged['state/region'] == "PR", 'state'] = "Puerto Rico"
merged.loc[merged['state/region'] == "USA", 'state'] = "United States"
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

#### Quay lại bước 1: Merge thông tin từ population vào area

In [26]:
final = pd.merge(merged, areas, on='state', how='left')
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

Kiểm tra thông tin mismatch

In [27]:
final.isnull().any()

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

In [28]:
final.loc[final["area (sq. mi)"].isnull(), "state"].unique()

array(['United States'], dtype=object)

US là cả nước, nếu thiếu thông tin về area thì có thể bổ sung bằng sum area của tất cả các bang, tuy nhiên đề bài không hỏi sắp sếp theo US, mà theo các states, nên có thể drop thông tin các dòng của US

In [29]:
final.dropna(inplace=True)
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

Kiểm tra lại thông tin của bảng 1 lần nữa

In [30]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2476 entries, 0 to 2495
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state/region   2476 non-null   object
 1   ages           2476 non-null   object
 2   year           2476 non-null   int64
 3   population     2476 non-null   float64
 4   state          2476 non-null   object
 5   area (sq. mi)  2476 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 135.4+ KB

Filter ra những rows thuộc năm 2010 và ages bằng total

In [31]:
#data2010 = final.loc[final["year"] == 2010 & final["ages"] == "total"]

In [32]:
final[(final["year"] == 2010) & (final["ages"] == "total")].shape

(52, 6)

In [33]:
data2010 = final.loc[(final["year"] == 2010) & (final["ages"] == "total")]

In [34]:
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

Bắt đầu tính mật độ dân số của từng bang

In [35]:
data2010.set_index('state', inplace=True)
density = data2010['population'] / data2010['area (sq. mi)']

In [36]:
density

state
Alabama                   91.287603
Alaska                     1.087509
Arizona                   56.214497
Arkansas                  54.948667
California               228.051342
Colorado                  48.493718
Connecticut              645.600649
Delaware                 460.445752
District of Columbia    8898.897059
Florida                  286.597129
Georgia                  163.409902
Hawaii                   124.746707
Idaho                     18.794338
Illinois                 221.687472
Indiana                  178.197831
Iowa                      54.202751
Kansas                    34.745266
Kentucky                 107.586994
Louisiana                 87.676099
Maine                     37.509990
Maryland                 466.445797
Massachusetts            621.815538
Michigan                 102.015794
Minnesota                 61.078373
Mississippi               61.321530
Missouri                  86.015622
Montana                    6.736171
Nebraska                  23.654153
Nevada                    24.448796
New Hampshire            140.799273
New Jersey              1009.253268
New Mexico                16.982737
New York                 356.094135
North Carolina           177.617157
North Dakota               9.537565
Ohio                     257.549634
Oklahoma                  53.778278
Oregon                    39.001565
Pennsylvania             275.966651
Rhode Island             681.339159
South Carolina           144.854594
South Dakota              10.583512
Tennessee                150.825298
Texas                     93.987655
Utah                      32.677188
Vermont                   65.085075
Virginia                 187.622273
Washington                94.557817
West Virginia             76.519582
Wisconsin                 86.851900
Wyoming                    5.768079
Puerto Rico             1058.665149
dtype: float64

In [37]:
x = [1,2,37,65,4]
x_ = sorted(x)
x_

[1, 2, 4, 37, 65]

In [38]:
x.sort()

In [39]:
x

[1, 2, 4, 37, 65]

In [40]:
x = [("a", 4), ("u", 9), ("uj", 0)]
y = sorted(x, key=lambda i: i[1])

In [41]:
y

[('uj', 0), ('a', 4), ('u', 9)]

Sắp xếp giá trị giảm dần theo mật độ dân số

In [42]:
density.sort_values(ascending=False, inplace=True)
density.head()

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64

# 1. Read Google Sheet from Python

## 1.1 Create a service account and credential

1. Create a project: https://console.developers.google.com/projectselector/apis/library?pli=1&supportedpurview=project
2. Enable API for google sheet and google drive
3. Create credentials (service account keys)
    - Service account details: name it
    - Grant this service account access to project: Editor
4. Download key credentials (json)
```
{
    "type": "service_account",
    "project_id": "api-project-XXX",
    "private_key_id": "2cd … ba4",
    "private_key": "-----BEGIN PRIVATE KEY-----\nNrDyLw … jINQh/9\n-----END PRIVATE KEY-----\n",
    "client_email": "473000000000-yoursisdifferent@developer.gserviceaccount.com",
    "client_id": "473 … hd.apps.googleusercontent.com",
    ...
}
```
5. Move credentials file to `~/.config/gspread/service_account.json`, or yiu can put it anywhere but remember its path

## 1.2 Read a spreadsheet using name, link, id

1. Create a sheet and share it to `client_email` in the credentials just downloaded
2. Create a sheet using API

In [43]:
import gspread

Đọc credentials trực tiếp từ `~/.config/gspread/service_account.json`

In [44]:
gc = gspread.service_account()

Đọc credentials từ path truyền vào thủ công

In [45]:
#gc = gspread.service_account(filename="~/.config/gspread/service_account.json")

Đọc google sheet từ tên sheet

In [46]:
sheet = gc.open('Film collection')

Đọc google sheet từ id sheet (trên link)

In [47]:
sheet = gc.open_by_key("1Qrfa-u4fdRCHRwgqom0bbZjrZRqQLGcc7H1F35NI7f8")

Đọc google sheet trực tiếp từ link

In [48]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1Qrfa-u4fdRCHRwgqom0bbZjrZRqQLGcc7H1F35NI7f8/edit#gid=1193572116")

## 1.3 Tạo vad share spreadsheet

In [49]:
new_sheet = gc.create('A new spreadsheet test')

Share spreadsheet<br>
- Share to whom (email), None, group email, domain name<br>
- perm_type: user or group or domain or anyone
- role: onwer, reader, writer
- notify: need to notify to users being shared?
- email_message: email message sent to users

In [50]:
new_sheet.share('otto@example.com', perm_type='user', role='writer')

## 1.4 Selecting a Worksheet

1. By index

In [51]:
worksheet = sheet.get_worksheet(1)

In [52]:
worksheet

2. By name

In [53]:
#worksheet = sheet.worksheet("January")

WorksheetNotFound: January

3. By sheet 1 (basic case)

In [ ]:
worksheet = sheet.sheet1
worksheet.id

0

4. Get list of all worksheet

In [ ]:
worksheet_list = sheet.worksheets()
worksheet_list

5. Create a new worksheet

In [ ]:
worksheet = sheet.add_worksheet(title="A new worksheet", rows=50, cols=20)

APIError: {'code': 403, 'message': 'The caller does not have permission', 'status': 'PERMISSION_DENIED'}

6. Xóa worksheet

In [ ]:
#sheet.del_worksheet(worksheet)

7. Lấy giá trị của cell

Sử dụng A1 notation

In [ ]:
val = worksheet.acell('B1').value
val

'Tv Series Name'

Sử dụng vị trí dòng và cột

In [ ]:
val = worksheet.cell(1, 2).value
val

'Tv Series Name'

Nếu muốn lấy formula thì truyền thêm tham số `value_render_option='FORMULA'` vào hàm `acell` hoặc `cell`

Lấy giá trị của cả dòng hoặc cả cột

In [ ]:
values_list = worksheet.row_values(1)
values_list = worksheet.col_values(1)

Lấy giá trị của cả worksheet, return list of lists

In [ ]:
data = worksheet.get_all_values()

In [ ]:
df = pd.DataFrame(data[1:], columns=data[0])

In [ ]:
df.head()

,STT,Tv Series Name,Season,Status,Link,Quality
0,1,11 22 63,All season,Finish,https://www.fshare.vn/folder/ZBBBGZEP469H,1080p
1,2,12 Monkeys,All season,On going,https://www.fshare.vn/folder/8T63MLVCQHXX,1080p
2,3,13 Reasons Why,Season 1,Finish,https://www.fshare.vn/folder/ZA6QYCJCV4LF,1080p
3,,,Season 2,Finish,https://www.fshare.vn/folder/IL5QW4J2HVRU,1080p
4,4,A Series of Unfortunate Events,All season,On going,https://www.fshare.vn/folder/DV3HVQQ7HK5Q,1080p

Lấy toàn bộ giá trị hoặc 1 range theo A1 notation

In [ ]:
data2 = worksheet.get() #fetches all values from a range of cells.

In [ ]:
data2

[['STT', 'Tv Series Name', 'Season', 'Status', 'Link', 'Quality'],
 ['1',
  '11 22 63',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/ZBBBGZEP469H',
  '1080p'],
 ['2',
  '12 Monkeys',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/8T63MLVCQHXX',
  '1080p'],
 ['3',
  '13 Reasons Why',
  'Season 1',
  'Finish',
  'https://www.fshare.vn/folder/ZA6QYCJCV4LF',
  '1080p'],
 ['',
  '',
  'Season 2',
  'Finish',
  'https://www.fshare.vn/folder/IL5QW4J2HVRU',
  '1080p'],
 ['4',
  'A Series of Unfortunate Events',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/DV3HVQQ7HK5Q',
  '1080p'],
 ['5',
  'Agent X',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/SMF1KHHNLPJA',
  '1080p'],
 ['6',
  'American Crime',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/LQOWAEUS54RB',
  '1080p'],
 ['7',
  'American Crime Story',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/NLRSEB38M8VJ',
  '1080p'],
 ['8',
  'American Horror Story',
  'Season 1-7',
  'On going',
  'https://www.fshare.vn/folder/QAVDV3HUKZYN',
  '1080p'],
 ['',
  '',
  'Season 8',
  'On going',
  'https://www.fshare.vn/folder/VHHOQCA3AYOA',
  '1080p'],
 ['9',
  'Arrow',
  'Season 1 -4',
  'On going',
  'https://www.fshare.vn/folder/ZJHIUF9SZ9Z1',
  '1080p'],
 ['',
  '',
  'Season 5-6',
  'On going',
  'https://www.fshare.vn/folder/XYSS9N92AWGC',
  '1080p'],
 ['10',
  'Ash vs. Evil Dead',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/TNICUYYRNN1V',
  '1080p'],
 ['',
  'Berlin Station',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/MN38LZXEYCKI',
  '1080p'],
 ['',
  '',
  'Season 3',
  'On going',
  'https://www.fshare.vn/folder/M3BYQFOV3GSD',
  '1080p'],
 ['11',
  'Better Call Saul',
  'Season 1-3',
  'On going',
  'https://www.fshare.vn/folder/M5LACMU4R57A',
  '1080p'],
 ['',
  '',
  'Season 4',
  'On going',
  'https://www.fshare.vn/folder/MIFD8PP454WV',
  '1080p'],
 ['12',
  'Black Lightning',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/TY5ITBTWVCUV',
  '1080p'],
 ['13',
  'Black Mirror',
  'Season 1-4',
  'On going',
  'https://www.fshare.vn/folder/TIR3TNICV6UH',
  '1080p'],
 ['14',
  'Black Sails',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/87Z5FGQ1P7JV',
  '1080p'],
 ['15',
  'Blindspot',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/HBSUL7WM5K4N',
  '1080p'],
 ['',
  '',
  'Season 3-4',
  'On going',
  'https://www.fshare.vn/folder/5ITCXH9KT774',
  '1080p'],
 ['16',
  'Bloodline',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/HBV8872FOUWS',
  '1080p'],
 ['17',
  'Breaking Bad',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/ARR8JQUPRGPX',
  '1080p'],
 ['18',
  'Brooklyn Nine-Nine',
  'All Season',
  'On going',
  'https://www.fshare.vn/folder/UPQ9U63KBLU6',
  '1080p'],
 ['19',
  'Burden of Truth',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/GBWBN1XBH9GC',
  '1080p'],
 ['20',
  'Castle',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/IPTQW28SX4HQ',
  '1080p'],
 ['21',
  'Castle Rock',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/W28QRDA12VYY',
  '1080p'],
 ['22',
  'Channel Zero',
  'Season 1-3',
  'On going',
  'https://www.fshare.vn/folder/X4EEJAHCW9AD',
  '1080p'],
 ['',
  '',
  'Season 4',
  'On going',
  'https://www.fshare.vn/folder/EYDP7L5MFZFT',
  '1080p'],
 ['23',
  'Charmed',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/6L7YXIIQX5OP'],
 ['24',
  'Chuck',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/4SBYMZTTD5AP',
  '1080p'],
 ['25',
  'Colony',
  'Season 1-2',
  'Finish',
  'https://www.fshare.vn/folder/4NN22TOQC9WM',
  '1080p'],
 ['',
  '',
  'Season 3',
  'Finish',
  'https://www.fshare.vn/folder/T2HZB8ZZRLCO',
  '1080p'],
 ['26',
  'Constantine',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/FVT79F54WXQL',
  '1080p'],
 ['27',
  'Counterpart',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/82B25AN6L7Z1',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/A96TBTXZSS9N',
  '1080p'],
 ['28',
  'Dark Matter',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/SUNG1H3PYJGE',
  '1080p'],
 ['29',
  'DC Legends of Tomorrow',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/LT2H1DI5XXOA',
  '1080p'],
 ['30',
  'Designated Survivor',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/2DHY5HPX816I',
  '1080p'],
 ['31',
  'Dexter',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/3REC8UCV3I2H',
  '720p'],
 ['32',
  'Dominion',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/7ALS1DH2MMZT',
  '720p'],
 ['33',
  'Entourage',
  'Season 1-2',
  'Finish',
  'https://www.fshare.vn/folder/JBN22SK718SZ',
  '1080p'],
 ['',
  '',
  'Season 3-5',
  'Finish',
  'https://www.fshare.vn/folder/HXZTUL5NLOGU',
  '1080p'],
 ['34',
  'Extant',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/4EDDJCTUIOKM',
  '1080p'],
 ['35',
  'Falling Water',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/Y7S65X38OH2J',
  '1080p'],
 ['36',
  'Fargo',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/V8872EKBN22T',
  '1080p'],
 ['37',
  'Forever',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/QQ9QOWAFZH51',
  '1080p'],
 ['38',
  'Friends',
  'All Season',
  'Finish',
  'https://www.fshare.vn/folder/F9OGX25BSVPN',
  '1080p'],
 ['39',
  'Fringe',
  'All Season',
  'Finish',
  'https://www.fshare.vn/folder/27JWKXN8VF8J',
  '1080p'],
 ['40',
  'Game of Thrones',
  'Season 1-6',
  'On going',
  'https://www.fshare.vn/folder/LODI5XYPHZ7T',
  '1080p'],
 ['',
  '',
  'Season7',
  'On going',
  'https://www.fshare.vn/folder/DCA4HTFBZUYZ',
  '1080p'],
 ['41',
  'Gotham',
  'Season 1-3',
  'On going',
  'https://www.fshare.vn/folder/CA5IWPJAIHNI',
  '1080p'],
 ['',
  '',
  'Season 4',
  'On going',
  'https://www.fshare.vn/folder/LRSEC7S1JAIG',
  '1080p'],
 ['42',
  'Gomorrah',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/QIY5IS9KUBO8',
  '1080p'],
 ['43',
  'Grimm',
  'Season 1-3',
  'Finish',
  'https://www.fshare.vn/folder/JGEDCEP32P31',
  '1080p'],
 ['',
  '',
  'Season 4-6',
  'Finish',
  'https://www.fshare.vn/folder/WZZPC925BV6Z',
  '1080p'],
 ['44',
  'Hand of God',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/KRTJXVAJL15C',
  '1080p'],
 ['45',
  'Hannibal',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/2VWNCDMQJ74P',
  '1080p'],
 ['46',
  'Helix',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/IBO9XM4D9VG9',
  '1080p'],
 ['47',
  'Heroes Reborn (2015)',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/YJHHQZIAN5ED',
  '1080p'],
 ['48',
  'Homeland',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/DQAXLXKQSHS8',
  '1080p'],
 ['49',
  'House MD',
  'Season 1-4',
  'Finish',
  'https://www.fshare.vn/folder/M36FB22SK7Z5',
  '1080p'],
 ['',
  '',
  'Season 5-8',
  'Finish',
  'https://www.fshare.vn/folder/VF7FC37FBZSQ',
  '1080p'],
 ['50',
  'House of Cards',
  'Season 1-4',
  'Finish',
  'https://www.fshare.vn/folder/AAAACKIL815E',
  '1080p'],
 ['',
  '',
  'Season 5-6',
  'Finish',
  'https://www.fshare.vn/folder/9RUMDMRPZKKT',
  '1080p'],
 ['51',
  'How I met your mother',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/ROQGTFFK9BJH',
  '1080p'],
 ['52', 'How to get Away with Murder', 'Season 1 -4'],
 ['53',
  'Impulse',
  'All Season',
  'On going',
  'https://www.fshare.vn/folder/F55ZBBCI9F41',
  '1080p'],
 ['54',
  'Instinct',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/US9JNFW16FEH',
  '1080p'],
 ['55',
  'Into the Badlands',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/X5K4ORHTFEFP',
  '1080p'],
 ['56',
  'Kidding',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/WPI5VRY8XTY5',
  '1080p'],
 ['',
  'Killjoys',
  'Season 1 - 4',
  'On going',
  'https://www.fshare.vn/folder/GY8YXJL5LADR',
  '1080p'],
 ['57',
  'Killing Eve',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/UTCV4OTR3VXQ',
  '1080p'],
 ['58',
  'Knightfall',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/N93FKCO7K15E',
  '1080p'],
 ['59',
  'Legion',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/J75UL3FMKQP3',
  '1080p'],
 ['',
  '',
  'Seaosn 2',
  'On going',
  'https://www.fshare.vn/folder/BESIXU9F4X5M',
  '1080p'],
 ['60',
  'Limitless',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/WOGY5J2DFQ7F',
  '1080p'],
 ['61',
  'Love',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/ORIY1XDRHTD6',
  '1080p'],
 ['62',
  'Lost in Space',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/TE5CXFZICSS9',
  '1080p'],
 ['63',
  'Lucifer',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/OCCEQ9PLJNFU',
  '1080p'],
 ['64',
  'Mad Men',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/IR4ZCFWZYKQN',
  '720p'],
 ['',
  'Manifest',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/LRUPO2V18QQ8',
  '1080p'],
 ['',
  'Mars',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/2DCENSSD47DZ',
  '1080p'],
 ['65',
  'Marco Polo',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/RDDFRAU4R7HI',
  '1080p'],
 ['66',
  'Marvel Daredevil',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/3X7UFC49PJAI',
  '1080p'],
 ['',
  '',
  'Season 3',
  'On going',
  'https://www.fshare.vn/folder/4UNFVVGD6HOM',
  '1080p'],
 ['67',
  'Marvel Inhumans',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/HUM7WOFSFFNO',
  '1080p'],
 ['68',
  'Marvel Iron Fist',
  'Season 1',
  'Finish',
  'https://www.fshare.vn/folder/UAKRVRZFVT67',
  '1080p'],
 ['',
  '',
  'Season 2',
  'Finish',
  'https://www.fshare.vn/folder/WAF2MRPW6UIQ',
  '1080p'],
 ['69',
  'Marvel Jessica Jones',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/NV5TFC6JXSX3',
  '1080p'],
 ['70',
  'Marvel Luke Cage',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/S4UOKJQUQTPR',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/6L819VDYH8EZ',
  '1080p'],
 ['71',
  'Marvel The Defenders',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/5MIE59M37JUB',
  '1080p'],
 ['72',
  'Marvel The Punisher',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/SNLQNTWRVUD2',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/7DYFZFTNKIMC',
  '1080p'],
 ['73',
  "Marvel's Agent Carter",
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/2GUMA97Z358F',
  '1080p'],
 ['74',
  "Marvel's Agent of S.H.I.E.L.D",
  'Season 1-3',
  'On going',
  'https://www.fshare.vn/folder/ICV5R6BRNMWE',
  '1080p'],
 ['',
  '',
  'Season 4-6',
  'On going',
  'https://www.fshare.vn/folder/AJJS5ZBAA7XV',
  '1080p'],
 ['75',
  "Marvel's Cloak & Dagger",
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/8T7BN49OGUPO',
  '1080p'],
 ['76',
  'Mayan M.C',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/4HUIOLPHZBBD',
  '1080p'],
 ['77',
  'McMafia',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/ZG1I9F2QAVBL',
  '1080p'],
 ['',
  'Midnight Texas',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/YSR9OCDKF8KV',
  '1080p'],
 ['78',
  'Mindhunter',
  'All Season',
  'On going',
  'https://www.fshare.vn/folder/AO911SORGOSO',
  '1080p'],
 ['79',
  'Minority Report',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/TVNFUOMQMM1Y',
  '1080p'],
 ['80',
  'Misfits',
  'All Season',
  'Finish',
  'https://www.fshare.vn/folder/XHD47CW9BH9J',
  '1080p'],
 ['81',
  'Mr Inbetween',
  'All Season',
  'On going',
  'https://www.fshare.vn/folder/4NMVCSOSLEUU',
  '1080p'],
 ['82',
  'Mr Robot',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/KUCV2CA4GMHC',
  '1080p'],
 ['83',
  'Narcos',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/9T1FQ5APGUPM',
  '1080p'],
 ['84',
  'New Girl',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/PTOQC8T51DKG',
  '1080p'],
 ['',
  'Nightflyers',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/B3ATZ9147CV3',
  '1080p'],
 ['85',
  'Nikita',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/4TJXQOUZ5GMG',
  '1080p'],
 ['86',
  'Once Upon a Time',
  'Season 1-4',
  'Finish',
  'https://www.fshare.vn/folder/1LN9ZWDUTD31',
  '1080p'],
 ['',
  '',
  'Season 5-7',
  'Finish',
  'https://www.fshare.vn/folder/AFYDOZPAXOA4',
  '1080p'],
 ['87',
  'One Dollar',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/BCI9F69IJXSU',
  '1080p'],
 ['88',
  'Orange is the new black',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/DDFQ7GGMH8HH',
  '1080p'],
 ['89',
  'Orphan Black',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/TGHS8KT5Y6PS',
  '1080p'],
 ['90',
  'Outsiders',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/9XPFRBWE1O1U',
  '1080p'],
 ['91',
  'Ozark',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/PB8XNA6PTOP9',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/UFAU4Q2UR2P5',
  '1080p'],
 ['92',
  'Penny Dreadful',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/QUUE59M1ZO7L',
  '1080p'],
 ['93',
  'Person of Interest',
  'Season 1-2',
  'Finish',
  'https://www.fshare.vn/folder/1RGNO8QTK2EH',
  '1080p'],
 ['',
  '',
  'Season 3-5',
  'Finish',
  'https://www.fshare.vn/folder/OLN9ZWCP8RWY',
  '1080p'],
 ['94',
  'Power',
  'Season 1-3',
  'On going',
  'https://www.fshare.vn/folder/DTQXAACLOCCE',
  '1080p'],
 ['',
  '',
  'Season 4',
  'On going',
  'https://www.fshare.vn/folder/QC9WLWJOI8BN',
  '1080p'],
 ['',
  '',
  'Season 5',
  'On going',
  'https://www.fshare.vn/folder/NKN9Z1RLF1KJ',
  '1080p'],
 ['95',
  'Prison Break',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/U18S4SGMG4W1',
  '1080p'],
 ['96',
  'Quantico',
  'Season 1-2',
  'Finish',
  'https://www.fshare.vn/folder/YKL25CZQCB7Q',
  '1080p'],
 ['',
  '',
  'Season 3',
  'Finish',
  'https://www.fshare.vn/folder/HTGHS8GFFLHC',
  '1080p'],
 ['97',
  'Queen of the South',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/MG3SGMHCXEW5',
  '1080p'],
 ['',
  '',
  'Season 3',
  'On going',
  'https://www.fshare.vn/folder/XLXKRVVINETO',
  '1080p'],
 ['98',
  'Ransom',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/259M38NDMOB6',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/Q6F9RUL84J4Q',
  '1080p'],
 ['99',
  'Scandal',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/FHSCYKOH4RAU',
  '720p/1080p'],
 ['100',
  'Scorpion',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/DA3AVAHCXG54',
  '1080p'],
 ['',
  '',
  'Season 3-4',
  'On going',
  'https://www.fshare.vn/folder/AOCDI5Y7QUTA',
  '1080p'],
 ['101',
  'Sense8',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/OFTK6TBSSASU',
  '1080p'],
 ['',
  'Sex Education',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/SEB5HNNZSPX8',
  '1080p'],
 ['102',
  'Shadowhunters',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/OV4LG68E2SJ1',
  '1080p'],
 ['103',
  'Sharp Object',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/9KS2KE2QDA4C',
  '1080p'],
 ['104',
  'Sherlock',
  'All season',
  'Finish',
  'https://www.fshare.vn/folder/VRY6QVXT1DJC',
  '1080p'],
 ['105',
  'Silicon Valley',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/I3LJL4J2GQ4Z',
  '1080p'],
 ['',
  'SIX',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/WN8WKT8BO8RW',
  '1080p'],
 ['106',
  'Smallville',
  'Season 1-3',
  'Finish',
  'https://www.fshare.vn/folder/1YFYBFW28QQ6',
  '1080p'],
 ['',
  '',
  'Season 4',
  'Finish',
  'https://www.fshare.vn/folder/F3VUFB1XDO48',
  '1080p'],
 ['',
  '',
  'Season 5-7',
  'Finish',
  'https://www.fshare.vn/folder/HCZPCB94IWQP',
  '1080p'],
 ['',
  '',
  'Season 8-9',
  'Finish',
  'https://www.fshare.vn/folder/F6CYIGEC8WJO',
  '1080p'],
 ['',
  '',
  'Season 10',
  'Finish',
  'https://www.fshare.vn/folder/G6763KDW3IY2',
  '1080p'],
 ['',
  'Sons of Anarchy',
  'Season 1',
  'Finish',
  'https://www.fshare.vn/folder/22UVJRW29T4U',
  '1080p'],
 ['',
  '',
  'Season 2-3',
  'Finish',
  'https://www.fshare.vn/folder/2X7Z21REGTIR',
  '1080p'],
 ['',
  '',
  'Season 4',
  'Finish',
  'https://www.fshare.vn/folder/NDLM4C4BXHBW',
  '1080p'],
 ['',
  '',
  'Season 5-6',
  'Finish',
  'https://www.fshare.vn/folder/65Y5K3GSARSD',
  '1080p'],
 ['',
  '',
  'Season 7',
  'Finish',
  'https://www.fshare.vn/folder/XVCTUHNG4Y5J',
  '1080p'],
 ['107',
  'Spartacus',
  'Season 1-4',
  'Finish',
  'https://www.fshare.vn/folder/KHFGPW6UGHSA',
  '1080p'],
 ['',
  'Star trek Discovery',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/5BXG53P1RIZ4',
  '1080p'],
 ['108',
  'Stranger Things',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/5JXSX26E9RTK',
  '1080p'],
 ['109',
  'Strike Back',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/OO1UXT4SBWDV',
  '1080p'],
 ['110',
  'Suits',
  'Season 1-4',
  'On going',
  'https://www.fshare.vn/folder/1NWBKOEP31NU',
  '1080p'],
 ['',
  '',
  'Season 5-7',
  'On going',
  'https://www.fshare.vn/folder/7BO7POZPB37H',
  '1080p'],
 ['111',
  'Supergirl',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/GUK3EI4SASUK',
  '1080p'],
 ['112',
  'Supernatural',
  'Season 1-7',
  'On going',
  'https://www.fshare.vn/folder/WZWAH9LZUY38',
  '1080p'],
 ['',
  '',
  'Season 8-11',
  'On going',
  'https://www.fshare.vn/folder/J5TFDA3AWHD3',
  '1080p'],
 ['',
  '',
  'Season 12-13',
  'On going',
  'https://www.fshare.vn/folder/R54VUCUXXN37',
  '1080p'],
 [],
 ['113',
  'Taboo',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/PLLWIL7WPLIH',
  '1080p'],
 ['114',
  'The 100',
  'Season 1-4',
  'On going',
  'https://www.fshare.vn/folder/H79HE7L16IPT',
  '1080p'],
 ['',
  '',
  'Season 5',
  'On going',
  'https://www.fshare.vn/folder/9UCUZ36D44ZD',
  '1080p'],
 ['115',
  'The Americans',
  'Season 1-5',
  'Finish',
  'https://www.fshare.vn/folder/ZSR43RAVAHD4',
  '1080p'],
 ['',
  '',
  'Season 6',
  'Finish',
  'https://www.fshare.vn/folder/M4FJ5R6BSPYD',
  '1080p'],
 ['116',
  'The Big Bang Theory',
  'Season 1-10',
  'On going',
  'https://www.fshare.vn/folder/VQSJ2EHZB915',
  '1080p'],
 ['',
  '',
  'Season 11',
  'On going',
  'https://www.fshare.vn/folder/92B3AV9CPAXL',
  '1080p'],
 ['117',
  'The Blacklist',
  'All season',
  'On going',
  'https://www.fshare.vn/folder/AOCDLJNCKIJW',
  '1080p'],
 ['118',
  'The Exorcist',
  'All Season',
  'Finish',
  'https://www.fshare.vn/folder/9NBCI79F4ZEO',
  '1080p'],
 ['119',
  'The Expanse',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/C5D8RTL982EI',
  '1080p'],
 ['',
  '',
  'Season 3',
  'On going',
  'https://www.fshare.vn/folder/E451GZ94HUIQ',
  '1080p'],
 ['120',
  'The Flash',
  'Season 1-2',
  'On going',
  'https://www.fshare.vn/folder/9HD46AKS1HY8',
  '1080p'],
 ['',
  '',
  'Season 3-4',
  'On going',
  'https://www.fshare.vn/folder/H4VRZCFTL7Z5',
  '1080p'],
 ['121',
  'The Gifted',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/E565ZA5K6UJU',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/4VS3RBYLT1HZ',
  '1080p'],
 ['122',
  'The Good Doctor',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/FURZERC38KVH',
  '1080p'],
 ['',
  '',
  'Season 2',
  'On going',
  'https://www.fshare.vn/folder/VHFHUJTCV3KA',
  '1080p'],
 ['123',
  'The Good Fight',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/N35AM3AVBMWH',
  '1080p'],
 ['',
  'The Haunting of Hill House',
  'Season 1',
  'On going',
  'https://www.fshare.vn/folder/JINFX7WPH3P2',
  '1080p'],
 ['124',
  'The Last Kingdom',
  'All season',
  'On going',

Lấy toàn bộ giá tị của worksheet về dictionary

In [ ]:
list_of_dicts = worksheet.get_all_records()

In [ ]:
list_of_dicts

[{'STT': 1,
  'Tv Series Name': '11 22 63',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/ZBBBGZEP469H',
  'Quality': '1080p'},
 {'STT': 2,
  'Tv Series Name': '12 Monkeys',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/8T63MLVCQHXX',
  'Quality': '1080p'},
 {'STT': 3,
  'Tv Series Name': '13 Reasons Why',
  'Season': 'Season 1',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/ZA6QYCJCV4LF',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 2',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/IL5QW4J2HVRU',
  'Quality': '1080p'},
 {'STT': 4,
  'Tv Series Name': 'A Series of Unfortunate Events',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/DV3HVQQ7HK5Q',
  'Quality': '1080p'},
 {'STT': 5,
  'Tv Series Name': 'Agent X',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/SMF1KHHNLPJA',
  'Quality': '1080p'},
 {'STT': 6,
  'Tv Series Name': 'American Crime',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/LQOWAEUS54RB',
  'Quality': '1080p'},
 {'STT': 7,
  'Tv Series Name': 'American Crime Story',
  'Season': 'Season 1-2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/NLRSEB38M8VJ',
  'Quality': '1080p'},
 {'STT': 8,
  'Tv Series Name': 'American Horror Story',
  'Season': 'Season 1-7',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/QAVDV3HUKZYN',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 8',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/VHHOQCA3AYOA',
  'Quality': '1080p'},
 {'STT': 9,
  'Tv Series Name': 'Arrow',
  'Season': 'Season 1 -4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/ZJHIUF9SZ9Z1',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 5-6',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/XYSS9N92AWGC',
  'Quality': '1080p'},
 {'STT': 10,
  'Tv Series Name': 'Ash vs. Evil Dead',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/TNICUYYRNN1V',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': 'Berlin Station',
  'Season': 'Season 1-2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/MN38LZXEYCKI',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/M3BYQFOV3GSD',
  'Quality': '1080p'},
 {'STT': 11,
  'Tv Series Name': 'Better Call Saul',
  'Season': 'Season 1-3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/M5LACMU4R57A',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/MIFD8PP454WV',
  'Quality': '1080p'},
 {'STT': 12,
  'Tv Series Name': 'Black Lightning',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/TY5ITBTWVCUV',
  'Quality': '1080p'},
 {'STT': 13,
  'Tv Series Name': 'Black Mirror',
  'Season': 'Season 1-4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/TIR3TNICV6UH',
  'Quality': '1080p'},
 {'STT': 14,
  'Tv Series Name': 'Black Sails',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/87Z5FGQ1P7JV',
  'Quality': '1080p'},
 {'STT': 15,
  'Tv Series Name': 'Blindspot',
  'Season': 'Season 1-2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/HBSUL7WM5K4N',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 3-4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/5ITCXH9KT774',
  'Quality': '1080p'},
 {'STT': 16,
  'Tv Series Name': 'Bloodline',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/HBV8872FOUWS',
  'Quality': '1080p'},
 {'STT': 17,
  'Tv Series Name': 'Breaking Bad',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/ARR8JQUPRGPX',
  'Quality': '1080p'},
 {'STT': 18,
  'Tv Series Name': 'Brooklyn Nine-Nine',
  'Season': 'All Season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/UPQ9U63KBLU6',
  'Quality': '1080p'},
 {'STT': 19,
  'Tv Series Name': 'Burden of Truth',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/GBWBN1XBH9GC',
  'Quality': '1080p'},
 {'STT': 20,
  'Tv Series Name': 'Castle',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/IPTQW28SX4HQ',
  'Quality': '1080p'},
 {'STT': 21,
  'Tv Series Name': 'Castle Rock',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/W28QRDA12VYY',
  'Quality': '1080p'},
 {'STT': 22,
  'Tv Series Name': 'Channel Zero',
  'Season': 'Season 1-3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/X4EEJAHCW9AD',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/EYDP7L5MFZFT',
  'Quality': '1080p'},
 {'STT': 23,
  'Tv Series Name': 'Charmed',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/6L7YXIIQX5OP',
  'Quality': ''},
 {'STT': 24,
  'Tv Series Name': 'Chuck',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/4SBYMZTTD5AP',
  'Quality': '1080p'},
 {'STT': 25,
  'Tv Series Name': 'Colony',
  'Season': 'Season 1-2',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/4NN22TOQC9WM',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 3',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/T2HZB8ZZRLCO',
  'Quality': '1080p'},
 {'STT': 26,
  'Tv Series Name': 'Constantine',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/FVT79F54WXQL',
  'Quality': '1080p'},
 {'STT': 27,
  'Tv Series Name': 'Counterpart',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/82B25AN6L7Z1',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/A96TBTXZSS9N',
  'Quality': '1080p'},
 {'STT': 28,
  'Tv Series Name': 'Dark Matter',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/SUNG1H3PYJGE',
  'Quality': '1080p'},
 {'STT': 29,
  'Tv Series Name': 'DC Legends of Tomorrow',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/LT2H1DI5XXOA',
  'Quality': '1080p'},
 {'STT': 30,
  'Tv Series Name': 'Designated Survivor',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/2DHY5HPX816I',
  'Quality': '1080p'},
 {'STT': 31,
  'Tv Series Name': 'Dexter',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/3REC8UCV3I2H',
  'Quality': '720p'},
 {'STT': 32,
  'Tv Series Name': 'Dominion',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/7ALS1DH2MMZT',
  'Quality': '720p'},
 {'STT': 33,
  'Tv Series Name': 'Entourage',
  'Season': 'Season 1-2',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/JBN22SK718SZ',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 3-5',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/HXZTUL5NLOGU',
  'Quality': '1080p'},
 {'STT': 34,
  'Tv Series Name': 'Extant',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/4EDDJCTUIOKM',
  'Quality': '1080p'},
 {'STT': 35,
  'Tv Series Name': 'Falling Water',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/Y7S65X38OH2J',
  'Quality': '1080p'},
 {'STT': 36,
  'Tv Series Name': 'Fargo',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/V8872EKBN22T',
  'Quality': '1080p'},
 {'STT': 37,
  'Tv Series Name': 'Forever',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/QQ9QOWAFZH51',
  'Quality': '1080p'},
 {'STT': 38,
  'Tv Series Name': 'Friends',
  'Season': 'All Season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/F9OGX25BSVPN',
  'Quality': '1080p'},
 {'STT': 39,
  'Tv Series Name': 'Fringe',
  'Season': 'All Season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/27JWKXN8VF8J',
  'Quality': '1080p'},
 {'STT': 40,
  'Tv Series Name': 'Game of Thrones',
  'Season': 'Season 1-6',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/LODI5XYPHZ7T',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season7',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/DCA4HTFBZUYZ',
  'Quality': '1080p'},
 {'STT': 41,
  'Tv Series Name': 'Gotham',
  'Season': 'Season 1-3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/CA5IWPJAIHNI',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/LRSEC7S1JAIG',
  'Quality': '1080p'},
 {'STT': 42,
  'Tv Series Name': 'Gomorrah',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/QIY5IS9KUBO8',
  'Quality': '1080p'},
 {'STT': 43,
  'Tv Series Name': 'Grimm',
  'Season': 'Season 1-3',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/JGEDCEP32P31',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 4-6',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/WZZPC925BV6Z',
  'Quality': '1080p'},
 {'STT': 44,
  'Tv Series Name': 'Hand of God',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/KRTJXVAJL15C',
  'Quality': '1080p'},
 {'STT': 45,
  'Tv Series Name': 'Hannibal',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/2VWNCDMQJ74P',
  'Quality': '1080p'},
 {'STT': 46,
  'Tv Series Name': 'Helix',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/IBO9XM4D9VG9',
  'Quality': '1080p'},
 {'STT': 47,
  'Tv Series Name': 'Heroes Reborn (2015)',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/YJHHQZIAN5ED',
  'Quality': '1080p'},
 {'STT': 48,
  'Tv Series Name': 'Homeland',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/DQAXLXKQSHS8',
  'Quality': '1080p'},
 {'STT': 49,
  'Tv Series Name': 'House MD',
  'Season': 'Season 1-4',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/M36FB22SK7Z5',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 5-8',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/VF7FC37FBZSQ',
  'Quality': '1080p'},
 {'STT': 50,
  'Tv Series Name': 'House of Cards',
  'Season': 'Season 1-4',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/AAAACKIL815E',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 5-6',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/9RUMDMRPZKKT',
  'Quality': '1080p'},
 {'STT': 51,
  'Tv Series Name': 'How I met your mother',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/ROQGTFFK9BJH',
  'Quality': '1080p'},
 {'STT': 52,
  'Tv Series Name': 'How to get Away with Murder',
  'Season': 'Season 1 -4',
  'Status': '',
  'Link': '',
  'Quality': ''},
 {'STT': 53,
  'Tv Series Name': 'Impulse',
  'Season': 'All Season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/F55ZBBCI9F41',
  'Quality': '1080p'},
 {'STT': 54,
  'Tv Series Name': 'Instinct',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/US9JNFW16FEH',
  'Quality': '1080p'},
 {'STT': 55,
  'Tv Series Name': 'Into the Badlands',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/X5K4ORHTFEFP',
  'Quality': '1080p'},
 {'STT': 56,
  'Tv Series Name': 'Kidding',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/WPI5VRY8XTY5',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': 'Killjoys',
  'Season': 'Season 1 - 4',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/GY8YXJL5LADR',
  'Quality': '1080p'},
 {'STT': 57,
  'Tv Series Name': 'Killing Eve',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/UTCV4OTR3VXQ',
  'Quality': '1080p'},
 {'STT': 58,
  'Tv Series Name': 'Knightfall',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/N93FKCO7K15E',
  'Quality': '1080p'},
 {'STT': 59,
  'Tv Series Name': 'Legion',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/J75UL3FMKQP3',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Seaosn 2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/BESIXU9F4X5M',
  'Quality': '1080p'},
 {'STT': 60,
  'Tv Series Name': 'Limitless',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/WOGY5J2DFQ7F',
  'Quality': '1080p'},
 {'STT': 61,
  'Tv Series Name': 'Love',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/ORIY1XDRHTD6',
  'Quality': '1080p'},
 {'STT': 62,
  'Tv Series Name': 'Lost in Space',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/TE5CXFZICSS9',
  'Quality': '1080p'},
 {'STT': 63,
  'Tv Series Name': 'Lucifer',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/OCCEQ9PLJNFU',
  'Quality': '1080p'},
 {'STT': 64,
  'Tv Series Name': 'Mad Men',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/IR4ZCFWZYKQN',
  'Quality': '720p'},
 {'STT': '',
  'Tv Series Name': 'Manifest',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/LRUPO2V18QQ8',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': 'Mars',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/2DCENSSD47DZ',
  'Quality': '1080p'},
 {'STT': 65,
  'Tv Series Name': 'Marco Polo',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/RDDFRAU4R7HI',
  'Quality': '1080p'},
 {'STT': 66,
  'Tv Series Name': 'Marvel Daredevil',
  'Season': 'Season 1-2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/3X7UFC49PJAI',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/4UNFVVGD6HOM',
  'Quality': '1080p'},
 {'STT': 67,
  'Tv Series Name': 'Marvel Inhumans',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/HUM7WOFSFFNO',
  'Quality': '1080p'},
 {'STT': 68,
  'Tv Series Name': 'Marvel Iron Fist',
  'Season': 'Season 1',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/UAKRVRZFVT67',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 2',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/WAF2MRPW6UIQ',
  'Quality': '1080p'},
 {'STT': 69,
  'Tv Series Name': 'Marvel Jessica Jones',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/NV5TFC6JXSX3',
  'Quality': '1080p'},
 {'STT': 70,
  'Tv Series Name': 'Marvel Luke Cage',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/S4UOKJQUQTPR',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/6L819VDYH8EZ',
  'Quality': '1080p'},
 {'STT': 71,
  'Tv Series Name': 'Marvel The Defenders',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/5MIE59M37JUB',
  'Quality': '1080p'},
 {'STT': 72,
  'Tv Series Name': 'Marvel The Punisher',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/SNLQNTWRVUD2',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 2',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/7DYFZFTNKIMC',
  'Quality': '1080p'},
 {'STT': 73,
  'Tv Series Name': "Marvel's Agent Carter",
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/2GUMA97Z358F',
  'Quality': '1080p'},
 {'STT': 74,
  'Tv Series Name': "Marvel's Agent of S.H.I.E.L.D",
  'Season': 'Season 1-3',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/ICV5R6BRNMWE',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 4-6',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/AJJS5ZBAA7XV',
  'Quality': '1080p'},
 {'STT': 75,
  'Tv Series Name': "Marvel's Cloak & Dagger",
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/8T7BN49OGUPO',
  'Quality': '1080p'},
 {'STT': 76,
  'Tv Series Name': 'Mayan M.C',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/4HUIOLPHZBBD',
  'Quality': '1080p'},
 {'STT': 77,
  'Tv Series Name': 'McMafia',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/ZG1I9F2QAVBL',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': 'Midnight Texas',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/YSR9OCDKF8KV',
  'Quality': '1080p'},
 {'STT': 78,
  'Tv Series Name': 'Mindhunter',
  'Season': 'All Season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/AO911SORGOSO',
  'Quality': '1080p'},
 {'STT': 79,
  'Tv Series Name': 'Minority Report',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/TVNFUOMQMM1Y',
  'Quality': '1080p'},
 {'STT': 80,
  'Tv Series Name': 'Misfits',
  'Season': 'All Season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/XHD47CW9BH9J',
  'Quality': '1080p'},
 {'STT': 81,
  'Tv Series Name': 'Mr Inbetween',
  'Season': 'All Season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/4NMVCSOSLEUU',
  'Quality': '1080p'},
 {'STT': 82,
  'Tv Series Name': 'Mr Robot',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/KUCV2CA4GMHC',
  'Quality': '1080p'},
 {'STT': 83,
  'Tv Series Name': 'Narcos',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/9T1FQ5APGUPM',
  'Quality': '1080p'},
 {'STT': 84,
  'Tv Series Name': 'New Girl',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/PTOQC8T51DKG',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': 'Nightflyers',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/B3ATZ9147CV3',
  'Quality': '1080p'},
 {'STT': 85,
  'Tv Series Name': 'Nikita',
  'Season': 'All season',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/4TJXQOUZ5GMG',
  'Quality': '1080p'},
 {'STT': 86,
  'Tv Series Name': 'Once Upon a Time',
  'Season': 'Season 1-4',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/1LN9ZWDUTD31',
  'Quality': '1080p'},
 {'STT': '',
  'Tv Series Name': '',
  'Season': 'Season 5-7',
  'Status': 'Finish',
  'Link': 'https://www.fshare.vn/folder/AFYDOZPAXOA4',
  'Quality': '1080p'},
 {'STT': 87,
  'Tv Series Name': 'One Dollar',
  'Season': 'Season 1',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/BCI9F69IJXSU',
  'Quality': '1080p'},
 {'STT': 88,
  'Tv Series Name': 'Orange is the new black',
  'Season': 'All season',
  'Status': 'On going',
  'Link': 'https://www.fshare.vn/folder/DDFQ7GGMH8HH',

Chỉ lấy những columns được chỉ định bằng `expected_headers`

In [ ]:
#list_of_dicts = worksheet.get_all_records(expected_headers=["a", "b", "c"])

## 1.5 Tìm cell

Tìm cell match exact string

In [ ]:
cell = worksheet.find("Black Lightning")
print("Found something at R%sC%s" % (cell.row, cell.col))

Found something at R19C2

Tìm cell theo regex

In [ ]:
import re
pattern_search = re.compile(r"black|house", re.IGNORECASE)
cell = worksheet.find(pattern_search)
print("Found something at R%sC%s" % (cell.row, cell.col))

Found something at R19C2

In [ ]:
worksheet.cell(cell.row, cell.col)

Cell object

In [ ]:
print(cell.value)
print(cell.col)
print(cell.row)
print(cell.address) #a1 notation

Black Lightning
2
19
B19

Tìm tất cả các cell match pattern

In [ ]:
cells = worksheet.findall(pattern_search)
len(cells)

9

Tìm tất cả các cell match exact string

In [ ]:
cells = worksheet.findall("On going", case_sensitive=False)
len(cells)

143

Xóa worksheet theo range

In [ ]:
worksheet.batch_clear(["A1:B1", "C2:E2"])

Xóa toàn bộ worksheet

worksheet.clear()

## 1.6 Updating Cells

Sử dụng A1 Notation

In [ ]:
#worksheet.update("A2", "TEST")

Sử dụng index dòng và cột

In [ ]:
#worksheet.update_cell(2, 1, "TEST1")

Update range

In [ ]:
#worksheet.update("A1:B2", [["TEST1", "TEST2"], ["TEST3", "TEST4"]])

## 1.7 Edit format text

Bold các giá trị trong khoảng A1 -> B1

In [ ]:
worksheet.format('A1:B1', {'textFormat': {'bold': True}})

Thay đổi các format khác, có thể tham khảo thư viện API của google: https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/cells#cellformat

In [ ]:
worksheet.format("A2:B2", {
    "backgroundColor": {
      "red": 0.0,
      "green": 0.0,
      "blue": 0.0
    },
    "horizontalAlignment": "CENTER",
    "textFormat": {
      "foregroundColor": {
        "red": 1.0,
        "green": 1.0,
        "blue": 1.0
      },
      "fontSize": 12,
      "bold": True
    }
})

## 1.8 Chuyển sheet về pandas dataframe

In [ ]:
import pandas as pd

dataframe = pd.DataFrame(worksheet.get_all_records())

In [ ]:
dataframe.head()

,STT,Tv Series Name,Season,Status,Link,Quality
0,1,11 22 63,All season,Finish,https://www.fshare.vn/folder/ZBBBGZEP469H,1080p
1,2,12 Monkeys,All season,On going,https://www.fshare.vn/folder/8T63MLVCQHXX,1080p
2,3,13 Reasons Why,Season 1,Finish,https://www.fshare.vn/folder/ZA6QYCJCV4LF,1080p
3,,,Season 2,Finish,https://www.fshare.vn/folder/IL5QW4J2HVRU,1080p
4,4,A Series of Unfortunate Events,All season,On going,https://www.fshare.vn/folder/DV3HVQQ7HK5Q,1080p